.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.4;
  z-index: -1;
}
.Polka_v2 {
  background-image: radial-gradient(#ffc107 2px, transparent 2px),
    radial-gradient(#ffc107 2px, #ffffff 2px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}
