.buttonUI {
  color: azure;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  width: 147px;
  height: 48px;
  left: 847px;
  background: #397cff;
  /* Secondary/Blue -- */
  border: 2px solid #68a5ff;
  border-radius: 24px;
}
